# .env file
POSTGRES_USER=
POSTGRES_DB=
POSTGRES_PASSWORD_FILE=
DB_HOST=
DB_PORT=
DB_SSLMODE=
BACKEND_PORT=
WS_PORT=
JWT_PRIVATE_KEY_PATH=
JWT_PUBLIC_KEY_PATH=
GAMESERVER_API_KEY_PATH=
BACKEND_TARGET=
