localhost:8443 {
	handle /api/* {
		reverse_proxy go-server:8080 # if running containerized
		# reverse_proxy host.docker.internal:8080 # if running locally
	}

	handle /swagger/* {
    reverse_proxy go-server:8080 #
	}

	handle {
		root * /srv
		file_server
	}
}
